{
  "Release Mode": {
    "default": {
      "compiler": {
        "standardOptions": {
          "nameOfObjectFile": ".\\object\\@.acu",
          "nameOfErrorFile": "@.err",
          "maxErrorCount": 100,
          "remoteServerName": "myserver",
          "remoteServerPort": 5632,
          "remoteObjectFile": "@.acu",
          "objectFile": true
        },
        "listingOptions": {
          "nameListingFile": ".\\list\\@.lst"
        },
        "compatibilityOptions": {
          "compatibilityVersion": 100
        },
        "precompilerOptions": {},
        "miscellaneousOptions": {
          "codeVersionNumber": 100
        }
      },
      "environment": {
        "CODE_PREFIX": [
          ".\\object"
        ],
        "COPYPATH": [
          ".\\screen",
          ".\\copylib",
          ".\\report",
          ".\\resource",
          ".\\fd",
          "..",
          "..\\def",
          "%screendir%",
          "%reportdir%",
          "%copydir%"
        ],
        "FILE_PREFIX": [
          ".\\data"
        ],
        "variables": {
          "RUNNAME": "Wrun32.exe",
          "COMPILERNAME": "Ccbl32.exe",
          "ACUPATH": "%acudir%\\bin",
          "THINNAME": "AcuThin.exe"
        }
      },
      "runtime": {
        "commonOptions": {
          "alternateConfigurationFileName": "resource/winsampl.cfg"
        },
        "thinClientOptions": {
          "remoteConfigurationFileName": "::/etc/cblconf"
        }
      }
    },
    "programs": {}
  },
  "Debug Mode": {
    "default": {
      "compiler": {
        "standardOptions": {
          "objectFile": true,
          "nameOfObjectFile": ".\\object\\@.acu",
          "errorFile": false,
          "nameOfErrorFile": "@.err",
          "verboseMode": false,
          "ignoreCblFlags": true,
          "setMaxErrorCount": false,
          "maxErrorCount": 100,
          "skipToNextPeriod": false,
          "suppressWarnings": false,
          "linkageWarnings": false,
          "alignmentWarnings": false,
          "redefinesWarnings": false,
          "unterminatedWarnings": false
        }
      },
      "environment": {
        "variables": {
          "RUNNAME": "Wrun32.exe",
          "COMPILERNAME": "Ccbl32.exe",
          "ACUPATH": "%acudir%\\bin",
          "THINNAME": "AcuThin.exe"
        },
        "COPYPATH": [
          ".\\screen",
          ".\\copylib",
          ".\\report",
          ".\\resource",
          ".\\fd",
          "..",
          "..\\def",
          "%screendir%",
          "%reportdir%",
          "%copydir%"
        ],
        "FILE_PREFIX": [
          ".\\data"
        ]
      },
      "runtime": {
        "commonOptions": {
          "turnOnSpecialNameSwitches": false,
          "specialNameSwitches": "",
          "useAlternateConfigurationFile": true,
          "alternateConfigurationFileName": "resource/winsampl.cfg",
          "ignoreTerminalHangupSignals": false,
          "runInSafeMode": false,
          "suppressWarningMessages": false,
          "setObjectFileLibrary": false,
          "objectFileLibrary": "",
          "importScreenFile": false,
          "importCharacterScreenFile": false
        }
      }
    },
    "programs": {}
  }
}