{
  "Debug Mode": {
    "default": {
      "compiler": {
        "standardOptions": {
          "nameOfObjectFile": ".\\object\\@.acu",
          "nameOfErrorFile": "@.err",
          "maxErrorCount": 100,
          "remoteServerName": "myserver",
          "remoteServerPort": 5632,
          "remoteObjectFile": "@.acu",
          "objectFile": true
        },
        "listingOptions": {
          "nameListingFile": ".\\list\\@.lst"
        },
        "compatibilityOptions": {
          "compatibilityVersion": 100
        },
        "dataStorageOptions": {
          "dataAlignmentBoundary": 4,
          "synchronizedBoundaryLimit": 4
        },
        "precompilerOptions": {},
        "debuggerOptions": {
          "includeAllDebuggingInformation": true
        },
        "miscellaneousOptions": {
          "codeVersionNumber": 100
        }
      },
      "environment": {
        "CODE_PREFIX": [
          "%objectdir%"
        ],
        "COPYPATH": [
          "%screendir%",
          "%copydir%",
          "%reportdir%",
          "%resdir%",
          "%layoutdir%",
          "%sampledir%\\sample\\def",
          "%sampledir%\\sample",
          "%sampledir%\\sample\\acubench\\data"
        ],
        "FILE_PREFIX": [
          ".\\data"
        ],
        "variables": {
          "RUNNAME": "Wrun32.exe",
          "COMPILERNAME": "Ccbl32.exe",
          "ACUPATH": "%acudir%\\bin",
          "THINNAME": "AcuThin.exe"
        }
      },
      "runtime": {
        "commonOptions": {
          "alternateConfigurationFileName": ".\\cblconfi"
        },
        "inputOutputOptions": {
          "directErrorsToFile": true,
          "errorMessageFileName": "xxx"
        },
        "thinClientOptions": {
          "remoteConfigurationFileName": "myserver:5632:/etc/cblconfig"
        }
      }
    },
    "programs": {
      "Report1a": {
        "meta": {
          "followProject": true
        },
        "sections": {
          "compiler": {
            "": {},
            "standardOptions": {
              "nameOfObjectFile": ".\\object\\@.acu",
              "nameOfErrorFile": "@.err",
              "maxErrorCount": 100,
              "remoteServerName": "myserver",
              "remoteServerPort": 5632,
              "remoteObjectFile": "@.acu",
              "objectFile": true
            },
            "listingOptions": {
              "nameListingFile": ".\\list\\@.lst"
            },
            "compatibilityOptions": {
              "compatibilityVersion": 100
            },
            "dataStorageOptions": {
              "dataAlignmentBoundary": 4,
              "synchronizedBoundaryLimit": 4
            },
            "precompilerOptions": {},
            "debuggerOptions": {
              "includeAllDebuggingInformation": true
            },
            "miscellaneousOptions": {
              "codeVersionNumber": 100
            }
          }
        }
      },
      "Report1b": {
        "meta": {
          "followProject": true
        },
        "sections": {
          "compiler": {
            "": {},
            "standardOptions": {
              "nameOfObjectFile": ".\\object\\@.acu",
              "nameOfErrorFile": "@.err",
              "maxErrorCount": 100,
              "remoteServerName": "myserver",
              "remoteServerPort": 5632,
              "remoteObjectFile": "@.acu",
              "objectFile": true
            },
            "listingOptions": {
              "nameListingFile": ".\\list\\@.lst"
            },
            "compatibilityOptions": {
              "compatibilityVersion": 100
            },
            "dataStorageOptions": {
              "dataAlignmentBoundary": 4,
              "synchronizedBoundaryLimit": 4
            },
            "precompilerOptions": {},
            "debuggerOptions": {
              "includeAllDebuggingInformation": true
            },
            "miscellaneousOptions": {
              "codeVersionNumber": 100
            }
          }
        }
      },
      "Report1c": {
        "meta": {
          "followProject": true
        },
        "sections": {
          "compiler": {
            "": {},
            "standardOptions": {
              "nameOfObjectFile": ".\\object\\@.acu",
              "nameOfErrorFile": "@.err",
              "maxErrorCount": 100,
              "remoteServerName": "myserver",
              "remoteServerPort": 5632,
              "remoteObjectFile": "@.acu",
              "objectFile": true
            },
            "listingOptions": {
              "nameListingFile": ".\\list\\@.lst"
            },
            "compatibilityOptions": {
              "compatibilityVersion": 100
            },
            "dataStorageOptions": {
              "dataAlignmentBoundary": 4,
              "synchronizedBoundaryLimit": 4
            },
            "precompilerOptions": {},
            "debuggerOptions": {
              "includeAllDebuggingInformation": true
            },
            "miscellaneousOptions": {
              "codeVersionNumber": 100
            }
          }
        }
      },
      "Report1d": {
        "meta": {
          "followProject": true
        },
        "sections": {
          "compiler": {
            "": {},
            "standardOptions": {
              "nameOfObjectFile": ".\\object\\@.acu",
              "nameOfErrorFile": "@.err",
              "maxErrorCount": 100,
              "remoteServerName": "myserver",
              "remoteServerPort": 5632,
              "remoteObjectFile": "@.acu",
              "objectFile": true
            },
            "listingOptions": {
              "nameListingFile": ".\\list\\@.lst"
            },
            "compatibilityOptions": {
              "compatibilityVersion": 100
            },
            "dataStorageOptions": {
              "dataAlignmentBoundary": 4,
              "synchronizedBoundaryLimit": 4
            },
            "precompilerOptions": {},
            "debuggerOptions": {
              "includeAllDebuggingInformation": true
            },
            "miscellaneousOptions": {
              "codeVersionNumber": 100
            }
          }
        }
      },
      "Report1e": {
        "meta": {
          "followProject": true
        },
        "sections": {
          "compiler": {
            "": {},
            "standardOptions": {
              "nameOfObjectFile": ".\\object\\@.acu",
              "nameOfErrorFile": "@.err",
              "maxErrorCount": 100,
              "remoteServerName": "myserver",
              "remoteServerPort": 5632,
              "remoteObjectFile": "@.acu",
              "objectFile": true
            },
            "listingOptions": {
              "nameListingFile": ".\\list\\@.lst"
            },
            "compatibilityOptions": {
              "compatibilityVersion": 100
            },
            "dataStorageOptions": {
              "dataAlignmentBoundary": 4,
              "synchronizedBoundaryLimit": 4
            },
            "precompilerOptions": {},
            "debuggerOptions": {
              "includeAllDebuggingInformation": true
            },
            "miscellaneousOptions": {
              "codeVersionNumber": 100
            }
          }
        }
      },
      "Report1f": {
        "meta": {
          "followProject": true
        },
        "sections": {
          "compiler": {
            "": {},
            "standardOptions": {
              "nameOfObjectFile": ".\\object\\@.acu",
              "nameOfErrorFile": "@.err",
              "maxErrorCount": 100,
              "remoteServerName": "myserver",
              "remoteServerPort": 5632,
              "remoteObjectFile": "@.acu",
              "objectFile": true
            },
            "listingOptions": {
              "nameListingFile": ".\\list\\@.lst"
            },
            "compatibilityOptions": {
              "compatibilityVersion": 100
            },
            "dataStorageOptions": {
              "dataAlignmentBoundary": 4,
              "synchronizedBoundaryLimit": 4
            },
            "precompilerOptions": {},
            "debuggerOptions": {
              "includeAllDebuggingInformation": true
            },
            "miscellaneousOptions": {
              "codeVersionNumber": 100
            }
          }
        }
      },
      "Report1g": {
        "meta": {
          "followProject": true
        },
        "sections": {
          "compiler": {
            "": {},
            "standardOptions": {
              "nameOfObjectFile": ".\\object\\@.acu",
              "nameOfErrorFile": "@.err",
              "maxErrorCount": 100,
              "remoteServerName": "myserver",
              "remoteServerPort": 5632,
              "remoteObjectFile": "@.acu",
              "objectFile": true
            },
            "listingOptions": {
              "nameListingFile": ".\\list\\@.lst"
            },
            "compatibilityOptions": {
              "compatibilityVersion": 100
            },
            "dataStorageOptions": {
              "dataAlignmentBoundary": 4,
              "synchronizedBoundaryLimit": 4
            },
            "precompilerOptions": {},
            "debuggerOptions": {
              "includeAllDebuggingInformation": true
            },
            "miscellaneousOptions": {
              "codeVersionNumber": 100
            }
          }
        }
      },
      "Report1h": {
        "meta": {
          "followProject": true
        },
        "sections": {
          "compiler": {
            "": {},
            "standardOptions": {
              "nameOfObjectFile": ".\\object\\@.acu",
              "nameOfErrorFile": "@.err",
              "maxErrorCount": 100,
              "remoteServerName": "myserver",
              "remoteServerPort": 5632,
              "remoteObjectFile": "@.acu",
              "objectFile": true
            },
            "listingOptions": {
              "nameListingFile": ".\\list\\@.lst"
            },
            "compatibilityOptions": {
              "compatibilityVersion": 100
            },
            "dataStorageOptions": {
              "dataAlignmentBoundary": 4,
              "synchronizedBoundaryLimit": 4
            },
            "precompilerOptions": {},
            "debuggerOptions": {
              "includeAllDebuggingInformation": true
            },
            "miscellaneousOptions": {
              "codeVersionNumber": 100
            }
          }
        }
      },
      "Report2a": {
        "meta": {
          "followProject": true
        },
        "sections": {
          "compiler": {
            "": {},
            "standardOptions": {
              "nameOfObjectFile": ".\\object\\@.acu",
              "nameOfErrorFile": "@.err",
              "maxErrorCount": 100,
              "remoteServerName": "myserver",
              "remoteServerPort": 5632,
              "remoteObjectFile": "@.acu",
              "objectFile": true
            },
            "listingOptions": {
              "nameListingFile": ".\\list\\@.lst"
            },
            "compatibilityOptions": {
              "compatibilityVersion": 100
            },
            "dataStorageOptions": {
              "dataAlignmentBoundary": 4,
              "synchronizedBoundaryLimit": 4
            },
            "precompilerOptions": {},
            "debuggerOptions": {
              "includeAllDebuggingInformation": true
            },
            "miscellaneousOptions": {
              "codeVersionNumber": 100
            }
          }
        }
      },
      "Report2b": {
        "meta": {
          "followProject": true
        },
        "sections": {
          "compiler": {
            "": {},
            "standardOptions": {
              "nameOfObjectFile": ".\\object\\@.acu",
              "nameOfErrorFile": "@.err",
              "maxErrorCount": 100,
              "remoteServerName": "myserver",
              "remoteServerPort": 5632,
              "remoteObjectFile": "@.acu",
              "objectFile": true
            },
            "listingOptions": {
              "nameListingFile": ".\\list\\@.lst"
            },
            "compatibilityOptions": {
              "compatibilityVersion": 100
            },
            "dataStorageOptions": {
              "dataAlignmentBoundary": 4,
              "synchronizedBoundaryLimit": 4
            },
            "precompilerOptions": {},
            "debuggerOptions": {
              "includeAllDebuggingInformation": true
            },
            "miscellaneousOptions": {
              "codeVersionNumber": 100
            }
          }
        }
      },
      "Report2c": {
        "meta": {
          "followProject": true
        },
        "sections": {
          "compiler": {
            "": {},
            "standardOptions": {
              "nameOfObjectFile": ".\\object\\@.acu",
              "nameOfErrorFile": "@.err",
              "maxErrorCount": 100,
              "remoteServerName": "myserver",
              "remoteServerPort": 5632,
              "remoteObjectFile": "@.acu",
              "objectFile": true
            },
            "listingOptions": {
              "nameListingFile": ".\\list\\@.lst"
            },
            "compatibilityOptions": {
              "compatibilityVersion": 100
            },
            "dataStorageOptions": {
              "dataAlignmentBoundary": 4,
              "synchronizedBoundaryLimit": 4
            },
            "precompilerOptions": {},
            "debuggerOptions": {
              "includeAllDebuggingInformation": true
            },
            "miscellaneousOptions": {
              "codeVersionNumber": 100
            }
          }
        }
      },
      "Report2d": {
        "meta": {
          "followProject": true
        },
        "sections": {
          "compiler": {
            "": {},
            "standardOptions": {
              "nameOfObjectFile": ".\\object\\@.acu",
              "nameOfErrorFile": "@.err",
              "maxErrorCount": 100,
              "remoteServerName": "myserver",
              "remoteServerPort": 5632,
              "remoteObjectFile": "@.acu",
              "objectFile": true
            },
            "listingOptions": {
              "nameListingFile": ".\\list\\@.lst"
            },
            "compatibilityOptions": {
              "compatibilityVersion": 100
            },
            "dataStorageOptions": {
              "dataAlignmentBoundary": 4,
              "synchronizedBoundaryLimit": 4
            },
            "precompilerOptions": {},
            "debuggerOptions": {
              "includeAllDebuggingInformation": true
            },
            "miscellaneousOptions": {
              "codeVersionNumber": 100
            }
          }
        }
      },
      "Report2e": {
        "meta": {
          "followProject": true
        },
        "sections": {
          "compiler": {
            "": {},
            "standardOptions": {
              "nameOfObjectFile": ".\\object\\@.acu",
              "nameOfErrorFile": "@.err",
              "maxErrorCount": 100,
              "remoteServerName": "myserver",
              "remoteServerPort": 5632,
              "remoteObjectFile": "@.acu",
              "objectFile": true
            },
            "listingOptions": {
              "nameListingFile": ".\\list\\@.lst"
            },
            "compatibilityOptions": {
              "compatibilityVersion": 100
            },
            "dataStorageOptions": {
              "dataAlignmentBoundary": 4,
              "synchronizedBoundaryLimit": 4
            },
            "precompilerOptions": {},
            "debuggerOptions": {
              "includeAllDebuggingInformation": true
            },
            "miscellaneousOptions": {
              "codeVersionNumber": 100
            }
          }
        }
      }
    }
  },
  "Release Mode": {
    "default": {
      "compiler": {
        "standardOptions": {
          "nameOfObjectFile": ".\\object\\@.acu",
          "nameOfErrorFile": "@.err",
          "maxErrorCount": 100,
          "remoteServerName": "myserver",
          "remoteServerPort": 5632,
          "remoteServerDir": "/",
          "remoteObjectFile": "@.acu",
          "objectFile": true
        },
        "listingOptions": {
          "nameListingFile": ".\\list\\@.lst"
        },
        "compatibilityOptions": {
          "compatibilityVersion": 100
        },
        "fileOptions": {
          "placeXfdFileToDirectory": true,
          "xfdFileDirectory": ".\\FD"
        },
        "precompilerOptions": {},
        "miscellaneousOptions": {
          "codeVersionNumber": 100
        }
      },
      "environment": {
        "CODE_PREFIX": [
          "%objectdir%"
        ],
        "COPYPATH": [
          "%screendir%",
          "%copydir%",
          "%reportdir%",
          "%resdir%",
          "%layoutdir%",
          "%sampledir%\\sample\\def",
          "%sampledir%\\sample",
          "%sampledir%\\sample\\acubench\\data"
        ],
        "variables": {
          "RUNNAME": "Wrun32.exe",
          "COMPILERNAME": "Ccbl32.exe",
          "ACUPATH": "%acudir%\\bin"
        }
      },
      "runtime": {
        "commonOptions": {
          "alternateConfigurationFileName": ".\\cblconfi"
        },
        "thinClientOptions": {
          "remoteConfigurationFileName": "myserver:5632:/etc/cblconfig"
        }
      }
    },
    "programs": {
      "Report1a": {
        "meta": {
          "followProject": true
        },
        "sections": {
          "compiler": {
            "": {},
            "standardOptions": {
              "nameOfObjectFile": ".\\object\\@.acu",
              "nameOfErrorFile": "@.err",
              "maxErrorCount": 100,
              "remoteServerName": "myserver",
              "remoteServerPort": 5632,
              "remoteServerDir": "/",
              "remoteObjectFile": "@.acu",
              "objectFile": true
            },
            "listingOptions": {
              "nameListingFile": ".\\list\\@.lst"
            },
            "compatibilityOptions": {
              "compatibilityVersion": 100
            },
            "fileOptions": {
              "placeXfdFileToDirectory": true,
              "xfdFileDirectory": ".\\FD"
            },
            "precompilerOptions": {},
            "miscellaneousOptions": {
              "codeVersionNumber": 100
            }
          }
        }
      },
      "Report1b": {
        "meta": {
          "followProject": true
        },
        "sections": {
          "compiler": {
            "": {},
            "standardOptions": {
              "nameOfObjectFile": ".\\object\\@.acu",
              "nameOfErrorFile": "@.err",
              "maxErrorCount": 100,
              "remoteServerName": "myserver",
              "remoteServerPort": 5632,
              "remoteServerDir": "/",
              "remoteObjectFile": "@.acu",
              "objectFile": true
            },
            "listingOptions": {
              "nameListingFile": ".\\list\\@.lst"
            },
            "compatibilityOptions": {
              "compatibilityVersion": 100
            },
            "fileOptions": {
              "placeXfdFileToDirectory": true,
              "xfdFileDirectory": ".\\FD"
            },
            "precompilerOptions": {},
            "miscellaneousOptions": {
              "codeVersionNumber": 100
            }
          }
        }
      },
      "Report1c": {
        "meta": {
          "followProject": true
        },
        "sections": {
          "compiler": {
            "": {},
            "standardOptions": {
              "nameOfObjectFile": ".\\object\\@.acu",
              "nameOfErrorFile": "@.err",
              "maxErrorCount": 100,
              "remoteServerName": "myserver",
              "remoteServerPort": 5632,
              "remoteServerDir": "/",
              "remoteObjectFile": "@.acu",
              "objectFile": true
            },
            "listingOptions": {
              "nameListingFile": ".\\list\\@.lst"
            },
            "compatibilityOptions": {
              "compatibilityVersion": 100
            },
            "fileOptions": {
              "placeXfdFileToDirectory": true,
              "xfdFileDirectory": ".\\FD"
            },
            "precompilerOptions": {},
            "miscellaneousOptions": {
              "codeVersionNumber": 100
            }
          }
        }
      },
      "Report1d": {
        "meta": {
          "followProject": true
        },
        "sections": {
          "compiler": {
            "": {},
            "standardOptions": {
              "nameOfObjectFile": ".\\object\\@.acu",
              "nameOfErrorFile": "@.err",
              "maxErrorCount": 100,
              "remoteServerName": "myserver",
              "remoteServerPort": 5632,
              "remoteServerDir": "/",
              "remoteObjectFile": "@.acu",
              "objectFile": true
            },
            "listingOptions": {
              "nameListingFile": ".\\list\\@.lst"
            },
            "compatibilityOptions": {
              "compatibilityVersion": 100
            },
            "fileOptions": {
              "placeXfdFileToDirectory": true,
              "xfdFileDirectory": ".\\FD"
            },
            "precompilerOptions": {},
            "miscellaneousOptions": {
              "codeVersionNumber": 100
            }
          }
        }
      },
      "Report1e": {
        "meta": {
          "followProject": true
        },
        "sections": {
          "compiler": {
            "": {},
            "standardOptions": {
              "nameOfObjectFile": ".\\object\\@.acu",
              "nameOfErrorFile": "@.err",
              "maxErrorCount": 100,
              "remoteServerName": "myserver",
              "remoteServerPort": 5632,
              "remoteServerDir": "/",
              "remoteObjectFile": "@.acu",
              "objectFile": true
            },
            "listingOptions": {
              "nameListingFile": ".\\list\\@.lst"
            },
            "compatibilityOptions": {
              "compatibilityVersion": 100
            },
            "fileOptions": {
              "placeXfdFileToDirectory": true,
              "xfdFileDirectory": ".\\FD"
            },
            "precompilerOptions": {},
            "miscellaneousOptions": {
              "codeVersionNumber": 100
            }
          }
        }
      },
      "Report1f": {
        "meta": {
          "followProject": true
        },
        "sections": {
          "compiler": {
            "": {},
            "standardOptions": {
              "nameOfObjectFile": ".\\object\\@.acu",
              "nameOfErrorFile": "@.err",
              "maxErrorCount": 100,
              "remoteServerName": "myserver",
              "remoteServerPort": 5632,
              "remoteServerDir": "/",
              "remoteObjectFile": "@.acu",
              "objectFile": true
            },
            "listingOptions": {
              "nameListingFile": ".\\list\\@.lst"
            },
            "compatibilityOptions": {
              "compatibilityVersion": 100
            },
            "fileOptions": {
              "placeXfdFileToDirectory": true,
              "xfdFileDirectory": ".\\FD"
            },
            "precompilerOptions": {},
            "miscellaneousOptions": {
              "codeVersionNumber": 100
            }
          }
        }
      },
      "Report1g": {
        "meta": {
          "followProject": true
        },
        "sections": {
          "compiler": {
            "": {},
            "standardOptions": {
              "nameOfObjectFile": ".\\object\\@.acu",
              "nameOfErrorFile": "@.err",
              "maxErrorCount": 100,
              "remoteServerName": "myserver",
              "remoteServerPort": 5632,
              "remoteServerDir": "/",
              "remoteObjectFile": "@.acu",
              "objectFile": true
            },
            "listingOptions": {
              "nameListingFile": ".\\list\\@.lst"
            },
            "compatibilityOptions": {
              "compatibilityVersion": 100
            },
            "fileOptions": {
              "placeXfdFileToDirectory": true,
              "xfdFileDirectory": ".\\FD"
            },
            "precompilerOptions": {},
            "miscellaneousOptions": {
              "codeVersionNumber": 100
            }
          }
        }
      },
      "Report1h": {
        "meta": {
          "followProject": true
        },
        "sections": {
          "compiler": {
            "": {},
            "standardOptions": {
              "nameOfObjectFile": ".\\object\\@.acu",
              "nameOfErrorFile": "@.err",
              "maxErrorCount": 100,
              "remoteServerName": "myserver",
              "remoteServerPort": 5632,
              "remoteServerDir": "/",
              "remoteObjectFile": "@.acu",
              "objectFile": true
            },
            "listingOptions": {
              "nameListingFile": ".\\list\\@.lst"
            },
            "compatibilityOptions": {
              "compatibilityVersion": 100
            },
            "fileOptions": {
              "placeXfdFileToDirectory": true,
              "xfdFileDirectory": ".\\FD"
            },
            "precompilerOptions": {},
            "miscellaneousOptions": {
              "codeVersionNumber": 100
            }
          }
        }
      },
      "Report2a": {
        "meta": {
          "followProject": true
        },
        "sections": {
          "compiler": {
            "": {},
            "standardOptions": {
              "nameOfObjectFile": ".\\object\\@.acu",
              "nameOfErrorFile": "@.err",
              "maxErrorCount": 100,
              "remoteServerName": "myserver",
              "remoteServerPort": 5632,
              "remoteServerDir": "/",
              "remoteObjectFile": "@.acu",
              "objectFile": true
            },
            "listingOptions": {
              "nameListingFile": ".\\list\\@.lst"
            },
            "compatibilityOptions": {
              "compatibilityVersion": 100
            },
            "fileOptions": {
              "placeXfdFileToDirectory": true,
              "xfdFileDirectory": ".\\FD"
            },
            "precompilerOptions": {},
            "miscellaneousOptions": {
              "codeVersionNumber": 100
            }
          }
        }
      },
      "Report2b": {
        "meta": {
          "followProject": true
        },
        "sections": {
          "compiler": {
            "": {},
            "standardOptions": {
              "nameOfObjectFile": ".\\object\\@.acu",
              "nameOfErrorFile": "@.err",
              "maxErrorCount": 100,
              "remoteServerName": "myserver",
              "remoteServerPort": 5632,
              "remoteServerDir": "/",
              "remoteObjectFile": "@.acu",
              "objectFile": true
            },
            "listingOptions": {
              "nameListingFile": ".\\list\\@.lst"
            },
            "compatibilityOptions": {
              "compatibilityVersion": 100
            },
            "fileOptions": {
              "placeXfdFileToDirectory": true,
              "xfdFileDirectory": ".\\FD"
            },
            "precompilerOptions": {},
            "miscellaneousOptions": {
              "codeVersionNumber": 100
            }
          }
        }
      },
      "Report2c": {
        "meta": {
          "followProject": true
        },
        "sections": {
          "compiler": {
            "": {},
            "standardOptions": {
              "nameOfObjectFile": ".\\object\\@.acu",
              "nameOfErrorFile": "@.err",
              "maxErrorCount": 100,
              "remoteServerName": "myserver",
              "remoteServerPort": 5632,
              "remoteServerDir": "/",
              "remoteObjectFile": "@.acu",
              "objectFile": true
            },
            "listingOptions": {
              "nameListingFile": ".\\list\\@.lst"
            },
            "compatibilityOptions": {
              "compatibilityVersion": 100
            },
            "fileOptions": {
              "placeXfdFileToDirectory": true,
              "xfdFileDirectory": ".\\FD"
            },
            "precompilerOptions": {},
            "miscellaneousOptions": {
              "codeVersionNumber": 100
            }
          }
        }
      },
      "Report2d": {
        "meta": {
          "followProject": true
        },
        "sections": {
          "compiler": {
            "": {},
            "standardOptions": {
              "nameOfObjectFile": ".\\object\\@.acu",
              "nameOfErrorFile": "@.err",
              "maxErrorCount": 100,
              "remoteServerName": "myserver",
              "remoteServerPort": 5632,
              "remoteServerDir": "/",
              "remoteObjectFile": "@.acu",
              "objectFile": true
            },
            "listingOptions": {
              "nameListingFile": ".\\list\\@.lst"
            },
            "compatibilityOptions": {
              "compatibilityVersion": 100
            },
            "fileOptions": {
              "placeXfdFileToDirectory": true,
              "xfdFileDirectory": ".\\FD"
            },
            "precompilerOptions": {},
            "miscellaneousOptions": {
              "codeVersionNumber": 100
            }
          }
        }
      },
      "Report2e": {
        "meta": {
          "followProject": true
        },
        "sections": {
          "compiler": {
            "": {},
            "standardOptions": {
              "nameOfObjectFile": ".\\object\\@.acu",
              "nameOfErrorFile": "@.err",
              "maxErrorCount": 100,
              "remoteServerName": "myserver",
              "remoteServerPort": 5632,
              "remoteServerDir": "/",
              "remoteObjectFile": "@.acu",
              "objectFile": true
            },
            "listingOptions": {
              "nameListingFile": ".\\list\\@.lst"
            },
            "compatibilityOptions": {
              "compatibilityVersion": 100
            },
            "fileOptions": {
              "placeXfdFileToDirectory": true,
              "xfdFileDirectory": ".\\FD"
            },
            "precompilerOptions": {},
            "miscellaneousOptions": {
              "codeVersionNumber": 100
            }
          }
        }
      }
    }
  }
}