{
  "Release Mode": {
    "default": {
      "compiler": {
        "standardOptions": {
          "nameOfObjectFile": ".\\object\\@.acu",
          "nameOfErrorFile": "@.err",
          "maxErrorCount": 100,
          "remoteServerName": "myserver",
          "remoteServerPort": 5632,
          "remoteObjectFile": "@.acu",
          "objectFile": true
        },
        "listingOptions": {
          "nameListingFile": ".\\list\\@.lst"
        },
        "precompilerOptions": {},
        "miscellaneousOptions": {
          "codeVersionNumber": 100
        }
      },
      "environment": {
        "CODE_PREFIX": [
          ".\\object"
        ],
        "COPYPATH": [
          ".\\screen",
          ".\\copylib",
          ".\\report",
          ".\\resource",
          ".\\fd",
          "..",
          "..\\def",
          "%screendir%",
          "%reportdir%",
          "%copydir%"
        ],
        "FILE_PREFIX": [
          ".\\data"
        ],
        "variables": {
          "RUNNAME": "Wrun32.exe",
          "COMPILERNAME": "Ccbl32.exe",
          "ACUPATH": "%acudir%\\bin",
          "THINNAME": "AcuThin.exe"
        }
      },
      "runtime": {
        "commonOptions": {
          "alternateConfigurationFileName": "resource\\winsampl.cfg"
        },
        "thinClientOptions": {
          "remoteConfigurationFileName": "::/etc/cblconf"
        }
      }
    },
    "programs": {
      "webbrowsr": {
        "meta": {
          "followProject": true
        },
        "sections": {
          "compiler": {
            "": {},
            "standardOptions": {
              "nameOfObjectFile": ".\\object\\@.acu",
              "nameOfErrorFile": "@.err",
              "maxErrorCount": 100,
              "remoteServerName": "myserver",
              "remoteServerPort": 5632,
              "remoteObjectFile": "@.acu",
              "objectFile": true
            },
            "listingOptions": {
              "nameListingFile": ".\\list\\@.lst"
            },
            "compatibilityOptions": {
              "compatibilityVersion": 100
            },
            "precompilerOptions": {},
            "miscellaneousOptions": {
              "codeVersionNumber": 100
            }
          }
        }
      }
    }
  },
  "Debug Mode": {
    "default": {
      "compiler": {
        "standardOptions": {
          "nameOfObjectFile": ".\\object\\@.acu",
          "nameOfErrorFile": "@.err",
          "maxErrorCount": 100,
          "remoteServerName": "myserver",
          "remoteServerPort": 5632,
          "remoteObjectFile": "@.acu",
          "objectFile": true
        },
        "listingOptions": {
          "nameListingFile": ".\\list\\@.lst"
        },
        "sourceOptions": {
          "sourceFormatType": ""
        },
        "precompilerOptions": {},
        "debuggerOptions": {
          "includeAllDebuggingInformation": true
        },
        "miscellaneousOptions": {
          "codeVersionNumber": 100
        }
      },
      "environment": {
        "CODE_PREFIX": [
          ".\\object"
        ],
        "COPYPATH": [
          ".\\screen",
          ".\\copylib",
          ".\\report",
          ".\\resource",
          ".\\fd",
          "..",
          "..\\def",
          "%layoutdir%",
          "%screendir%",
          "%reportdir%",
          "%copydir%"
        ],
        "FILE_PREFIX": [
          ".\\data"
        ],
        "variables": {
          "RUNNAME": "Wrun32.exe",
          "COMPILERNAME": "Ccbl32.exe",
          "ACUPATH": "%acudir%\\bin",
          "THINNAME": "AcuThin.exe",
          "CLASSPATHDIR": "%acudir%\\lib",
          "XUIJAR": "AcuXUI.jar"
        }
      },
      "runtime": {
        "commonOptions": {
          "alternateConfigurationFileName": "resource\\winsampl.cfg"
        },
        "thinClientOptions": {
          "remoteConfigurationFileName": "::/etc/cblconf"
        }
      }
    },
    "programs": {
      "webbrowsr": {
        "meta": {
          "followProject": true
        },
        "sections": {
          "compiler": {
            "": {},
            "standardOptions": {
              "nameOfObjectFile": ".\\object\\@.acu",
              "nameOfErrorFile": "@.err",
              "maxErrorCount": 100,
              "remoteServerName": "myserver",
              "remoteServerPort": 5632,
              "remoteObjectFile": "@.acu",
              "objectFile": true
            },
            "listingOptions": {
              "nameListingFile": ".\\list\\@.lst"
            },
            "compatibilityOptions": {
              "compatibilityVersion": 100
            },
            "sourceOptions": {
              "sourceFormatType": ""
            },
            "precompilerOptions": {},
            "debuggerOptions": {
              "includeAllDebuggingInformation": true
            },
            "miscellaneousOptions": {
              "codeVersionNumber": 100
            }
          }
        }
      }
    }
  }
}