# Configuration file for Windows sample programs
# Nothing fancy, this file is primarily used to insure that
# the default configuration file doesn't break the sample programs.

# Copyright (C) 1995-2024 Rocket Software, Inc. or its affiliates.
# All Rights Reserved.
# ROCKET SOFTWARE, INC. CONFIDENTIAL


code-suffix	acu
code-prefix	..\sample ..\sample\samplprj\object .
file-prefix	..\sample ..\sample\samplprj\data .
code-system	ascii


